<div class="bs-docs-section">
  <h1 id="alerts" class="page-header">Alerts</h1>
  <p class="lead">Use the <code>alert_box</code> helper to display Bootstrap-styled alert messages.</p>

  <h3 id="basic-alerts">Basic alerts</h3>
  <p>Use <code>alert_box</code> without options to display a basic informational message.</p>
  {% highlight rhtml %}
<%= alert_box 'You accepted the Terms of service.' %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="alert alert-info" role="alert">You accepted the Terms of service.</div>
    </div>
  {% highlight html %}
<div class="alert alert-info" role="alert">You accepted the Terms of service.</div>
  {% endhighlight %}

  <h3 id="dismissible-alerts">Dismissible alerts</h3>
  <p>Add <code>dismissible: true</code> to add a close button to the alert box.</p>
  {% highlight rhtml %}
<%= alert_box 'You accepted the Terms of service.', dismissible: true %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="alert alert-info" role="alert">
        <button class="close" data-dismiss="alert" type="button">
          <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        You accepted the Terms of service.
      </div>
    </div>
  {% highlight html %}
<div class="alert alert-info" role="alert">
  <button class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
  </button>
  You accepted the Terms of service.
</div>
  {% endhighlight %}

  <h3 id="contextual-alerts">Contextual alerts</h3>
  <p>Set the <code>context</code> option to change the color (and semantic context) of the alert message.</p>
  <p>Available contexts are <code>:success</code>, <code>:info</code> (default), <code>:warning</code> and <code>:danger</code>.</p>
    {% highlight rhtml %}
<%= alert_box 'You accepted the Terms of service.', context: :success %>
    {% endhighlight %}
    <p>displays a <em>success</em> alert message:</p>
      <div class="bs-example">
        <div class="alert alert-success" role="alert">You accepted the Terms of service.</div>
      </div>
    {% highlight html %}
<div class="alert alert-success" role="alert">You accepted the Terms of service.</div>
    {% endhighlight %}

  <h3 id="advanced-alerts">Complex alerts</h3>
  <p>To include HTML tags or a long text in the alert, pass your content in a block.<br />
     You can also specify custom options which will be added to the alert’s <code>&lt;div&gt;</code> tag.</p>
    {% highlight rhtml %}
<%= alert_box context: :warning, dismissible: true, id: 'alert', class: :en, data: {js: 1} do %>
  <em>Thanks!</em> You accepted the <%= link_to 'Terms of service', '/#terms' %>.
<% end %>
    {% endhighlight %}
    <p>displays a dismissible <em>warning</em> alert message which includes appropriately styled links and highlighted text:</p>
      <div class="bs-example">
        <div id="my-alert" class="en alert alert-warning" data-js="1" role="alert">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <em>Thanks!</em> You accepted the <a class="alert-link" href="/#terms">Terms of service</a>.
        </div>
      </div>
    {% highlight html %}
<div id="my-alert" class="en alert alert-warning" data-js="1" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">×</span>
    <span class="sr-only">Close</span>
  </button>
  <em>Thanks!</em> You accepted the <a class="alert-link" href="/#terms">Terms of service</a>.
</div>
    {% endhighlight %}

</div>