<div class="bs-docs-section">
  <h1 id="button_forms" class="page-header">Single-button forms</h1>
  <p class="lead">Use the <code>button_to</code> helper to display Bootstrap-styled single-button forms.</p>

  <p>In Rails apps, ActionView provides the <code>button_to</code> helper which displays a single-button form (<a href="http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-button_to">see Rails doc</a>).</p>
  <p>In Padrino and Middleman apps, Padrino::Helpers provides the <code>button_to</code> helper with the same purpose (<a href="http://www.rubydoc.info/github/padrino/padrino-framework/Padrino/Helpers/AssetTagHelpers:button_to">see Padrino doc</a>).</p>
  <p>Bh overrides these methods to add Bootstrap styles <strong>only</strong> if they are invoked with any of the <code>:context</code>, <code>:size</code> or <code>:layout</code> options.<br />
     These options are used to display a Bootstrap-styled button (see the <code>button</code> helper for more details).<br />
     Any extra option is passed to the original method.</p>

  <h3>Rails example</h3>

  {% highlight rhtml %}
<%= button_to 'New', '#new', class: 'b', form_class: 'f', method: :get, context: :primary %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
  <div class="bs-example">
    <form class="f" method="get" action="#">
      <input class="b btn btn-primary" type="submit" value="New">
    </form>
  </div>
  {% highlight html %}
<form class="f" method="get" action="#new">
  <input class="b btn btn-primary" type="submit" value="New">
</form>
  {% endhighlight %}

  <h3>Padrino/Middleman example</h3>

  {% highlight rhtml %}
<%= button_to 'New', '#new', submit_options: {class: 'b'}, class: 'f', context: :primary %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
  <div class="bs-example">
    <form action="#" accept-charset="UTF-8" class="f" method="post">
      <input type="submit" value="New" class="b btn btn-primary">
    </form>
  </div>
  {% highlight html %}
<form action="#new" accept-charset="UTF-8" class="f" method="post">
  <input type="submit" value="New" class="b btn btn-primary">
</form>
  {% endhighlight %}



</div>