<div class="bs-docs-section">
  <h1 id="cdn" class="page-header">Bootstrap CDN</h1>
  <p class="lead">Use the CDN helpers to load Bootstrap stylesheets and javascript files from <a href="http://www.bootstrapcdn.com">MaxCDN</a>.</p>

  <h3 id="cdn-css">Bootstrap CSS file</h3>
  <p>Use <code>bootstrap_css</code> without options to get the URL of the most up-to-date Bootstrap CSS file.</p>
  {% highlight rhtml %}
<%= stylesheet_link_tag bootstrap_css %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  {% endhighlight %}

  <h3 id="cdn-theme-css">Bootstrap Theme CSS</h3>
  <p>Use <code>bootstrap_theme_css</code> without options to get the URL of the most up-to-date Bootstrap Theme CSS file.</p>
  {% highlight rhtml %}
<%= stylesheet_link_tag bootstrap_theme_css %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
  {% endhighlight %}

  <h3 id="cdn-font-awesome-css">Font Awesome CSS</h3>
  <p>Use <code>font_awesome_css</code> without options to get the URL of the most up-to-date <a href="http://fortawesome.github.io/Font-Awesome">Font Awesome</a> CSS file.</p>
  {% highlight rhtml %}
<%= stylesheet_link_tag font_awesome_css %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
  {% endhighlight %}

  <h3 id="cdn-js">Bootstrap JS</h3>
  <p>Use <code>bootstrap_js</code> without options to get the URL of the most up-to-date Bootstrap JS file.</p>
  {% highlight rhtml %}
<%= javascript_include_tag bootstrap_js %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  {% endhighlight %}

  <h3 id="cdn-older">Older versions</h3>
  <p>Use the <code>:version</code> option to get the URL of a specific version of an asset.</p>
  {% highlight rhtml %}
<%= stylesheet_link_tag(bootstrap_css version: '3.1.0') %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
  {% endhighlight %}

  <h3 id="cdn-non-minified">Non-minified</h3>
  <p>Use the <code>:minified</code> option to get the non-minified version of an asset.</p>
  {% highlight rhtml %}
<%= javascript_include_tag bootstrap_js(minified: false) %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js" type="text/javascript"></script>
  {% endhighlight %}

  <h3 id="cdn-uri-scheme">URI scheme</h3>
  <p>Use the <code>:scheme</code> option to get either the HTTP or HTTPS version of the URL for Bootstrap CSS.</p>
  {% highlight rhtml %}
<%= stylesheet_link_tag(bootstrap_theme_css schema: 'https') %>
  {% endhighlight %}
  <p>generates the following HTML code:</p>
    <div class="bs-html"></div>
  {% highlight html %}
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" media="screen" rel="stylesheet" type="text/css" />
  {% endhighlight %}

</div>