<div class="bs-docs-section">
  <h1 id="dropdowns" class="page-header">Dropdowns</h1>
  <p class="lead">Use the <code>dropdown</code> helper to display Bootstrap-styled dropdowns.</p>

  <h3 id="dropdown-basic">Basic dropdown</h3>
  <p>Use <code>dropdown</code> without options to display a button with the given caption and the included links in a dropdown menu.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu' do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Profile', profile_path %>
<% end %>
  {% endhighlight %}
  <p>generates the following component (and HTML code):</p>
  <div class="bs-example">
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-8746733656" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-8746733656">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Profile</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-8746733656" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-8746733656">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
    <li role="presentation"><a href="/profile" role="menuitem" tabindex="-1">Profile</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-split">Split dropdown button</h3>
  <p>Use <code>dropdown</code> with the <code>split: true</code> option to show a <em>split</em> button that only toggles the dropdown when clicked on the right side.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', split: true do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Profile', profile_path %>
<% end %>
  {% endhighlight %}
  <p>generates the following component (and HTML code):</p>
  <div class="bs-example">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Menu</button>
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-9246388703" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-9246388703">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Profile</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button type="button" class="btn btn-default">Menu</button>
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-9246388703" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-9246388703">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
    <li role="presentation"><a href="/profile" role="menuitem" tabindex="-1">Profile</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-dropup">Dropup button</h3>
  <p>Use <code>dropdown</code> with the <code>direction: :up</code> option to show a drop<em>up</em>, that is, a menu that appears <em>above</em> the button.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', direction: :up do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Profile', profile_path %>
<% end %>
  {% endhighlight %}
  <p>generates the following component (and HTML code):</p>
  <div class="bs-example">
    <div class="btn-group dropup">
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-3758764429" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-3758764429">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Profile</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group dropup">
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-3758764429" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-3758764429">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
    <li role="presentation"><a href="/profile" role="menuitem" tabindex="-1">Profile</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-align">Right-aligned dropdown</h3>
  <p>Use <code>dropdown</code> with the <code>align: :right</code> option to align the dropdown to the rightmost side of the button.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', align: :right do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
  <%= link_to 'Profile', profile_path %>
<% end %>
  {% endhighlight %}
  <p>generates the following component (and HTML code):</p>
  <div class="bs-example">
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-7386261609" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="label-dropdown-7386261609">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Profile</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-7386261609" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="label-dropdown-7386261609">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
    <li role="presentation"><a href="/profile" role="menuitem" tabindex="-1">Profile</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-grouped">Grouped dropdowns</h3>
  <p>Use <code>dropdown</code> with the <code>groupable: true</code> option to have multiple dropdowns grouped on the same line, rather than stacked.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', groupable: true do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
<% end %>

<%= dropdown 'Profile', groupable: true do %>
  <%= link_to 'Edit Profile', edit_profile_path %>
<% end %>
  {% endhighlight %}
  <p>generates the following component (and HTML code):</p>
  <div class="bs-example">
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-9191819792" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-9191819792">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-727008945" data-toggle="dropdown">
        Profile
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-727008945">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Edit Profile</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-9191819792" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-9191819792">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
  </ul>
</div>
<div class="btn-group">
  <button class="dropdown-toggle btn btn-default" type="button" id="label-dropdown-727008945" data-toggle="dropdown">
    Profile
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-727008945">
    <li role="presentation"><a href="/profile" role="menuitem" tabindex="-1">Edit Profile</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-context">Contextual dropdown</h3>
  <p>Use <code>dropdown</code> with the <code>:context</code> option to change the color (and semantic context) of the toggle button.</p>
  <p>Available contexts are <code>:default</code> (default), <code>:primary</code>, <code>:success</code>, <code>:info</code>, <code>:warning</code> and <code>:danger</code>.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', context: :info do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
<% end %>
  {% endhighlight %}
  <p>displays an <em>info</em> (blue background) button to toggle a dropdown:</p>
  <div class="bs-example">
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-info" type="button" id="label-dropdown-840308622" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-840308622">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button class="dropdown-toggle btn btn-info" type="button" id="label-dropdown-840308622" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-840308622">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
  </ul>
</div>
  {% endhighlight %}

  <h3 id="dropdown-size">Custom button size</h3>
  <p>Use <code>dropdown</code> with the <code>:size</code> option to change the size of the toggle button.</p>
  {% highlight rhtml %}
<%= dropdown 'Menu', size: :extra_small do %>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Users', users_path %>
<% end %>
  {% endhighlight %}
  <p>displays an <em>extra small</em> button to toggle a dropdown:</p>
  <div class="bs-example">
    <div class="btn-group">
      <button class="dropdown-toggle btn btn-default btn-xs" type="button" id="label-dropdown-874132984" data-toggle="dropdown">
        Menu
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-874132984">
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Home</a></li>
        <li role="presentation"><a href="#" role="menuitem" tabindex="-1">Users</a></li>
      </ul>
    </div>
  </div>
  {% highlight html %}
<div class="btn-group">
  <button class="dropdown-toggle btn btn-default btn-xs" type="button" id="label-dropdown-874132984" data-toggle="dropdown">
    Menu
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="label-dropdown-874132984">
    <li role="presentation"><a href="/" role="menuitem" tabindex="-1">Home</a></li>
    <li role="presentation"><a href="/users" role="menuitem" tabindex="-1">Users</a></li>
  </ul>
</div>
  {% endhighlight %}

</div>