<div class="bs-docs-section">
  <h1 id="forms" class="page-header">Forms (Rails only)</h1>
  <p class="lead">Use the <code>form_for</code> helper to display Bootstrap-styled forms.</p>

  <p>In Rails apps, ActionView provides the <code>form_for</code> helper which displays model-specific forms (<a href="http://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for">see Rails doc</a>).</p>
  <p>In Padrino and Middleman apps, Padrino::Helpers provides the <code>form_for</code> helper with the same purpose (<a href="http://www.rubydoc.info/github/padrino/padrino-framework/Padrino/Helpers/FormHelpers:form_for">see Padrino doc</a>).</p>

  <p>Bh overrides these methods to add Bootstrap styles <strong>only</strong> when used in Rails apps and:</p>
  <ul>
    <li>if the <code>:layout</code> option is set, or</li>
    <li>if the form is wrapped in a <code>navbar</code>.</li>
  </ul>
  <p>Otherwise, the original <code>form_for</code> method is used.</p>

  <h3 id="form-basic">Basic forms</h3>
  <p>Use <code>form_for</code> with <code>layout: :basic</code> to add Bootstrap style to the form elements.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :basic do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me, checked: true %>
  <%= f.submit 'Sign in' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" method="post" role="form">
        <div class="form-group">
          <label for="user_email">Email</label>
          <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <input name="user[remember_me]" type="hidden" value="0">
            <label>
              <input checked="checked" name="user[remember_me]" type="checkbox" value="1"> Remember me
            </label>
          </div>
        </div>
        <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users/new" method="post" role="form">
  <div class="form-group">
    <label for="user_email">Email</label>
    <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <input name="user[remember_me]" type="hidden" value="0">
      <label>
        <input checked="checked" name="user[remember_me]" type="checkbox" value="1"> Remember me
      </label>
    </div>
  </div>
  <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
</form>
  {% endhighlight %}

  <h3 id="form-horizontal">Horizontal forms</h3>
  <p>Use <code>form_for</code> with <code>layout: :horizontal</code> to align labels and groups of form controls in a horizontal layout.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me, checked: true %>
  <%= f.submit 'Sign in' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_email_3">Email</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_email_3" name="user[email]" placeholder="Email" size="30" type="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_password_3">Password</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_password_3" name="user[password]" placeholder="Password" size="30" type="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <input name="user[remember_me]" type="hidden" value="0">
              <label>
                <input checked="checked" id="user_remember_me_3" name="user[remember_me]" type="checkbox" value="1"> Remember me
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_email">Email</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_password">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input name="user[remember_me]" type="hidden" value="0"><input checked="checked" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
    </div>
  </div>
</form>
  {% endhighlight %}

  <h3 id="form-inline">Inline forms</h3>
  <p>Use <code>form_for</code> with <code>layout: :inline</code> for left-aligned and inline-block controls.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :inline do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me, checked: true %>
  <%= f.submit 'Sign in' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-inline" method="post" role="form">
        <div class="form-group">
          <label class="sr-only" for="user_email_2">Email</label>
          <input class="form-control" id="user_email_2" name="user[email]" placeholder="Email" size="30" type="email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="user_password_2">Password</label>
          <input class="form-control" id="user_password_2" name="user[password]" placeholder="Password" size="30" type="password">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <input name="user[remember_me]" type="hidden" value="0">
            <label>
              <input checked="checked" name="user[remember_me]" type="checkbox" value="1"> Remember me
            </label>
          </div>
        </div>
        <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users/new" class="form-inline" method="post" role="form">
  <div class="form-group">
    <label class="sr-only" for="user_email">Email</label>
    <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="user_password">Password</label>
    <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
  </div>
  <div class="form-group">
    <div class="checkbox">
      <input name="user[remember_me]" type="hidden" value="0">
      <label>
        <input checked="checked" name="user[remember_me]" type="checkbox" value="1"> Remember me
      </label>
    </div>
  </div>
  <input class="btn btn-primary" name="commit" type="submit" value="Sign in">
</form>
  {% endhighlight %}

  <h3 id="form-navbar">Navbar forms</h3>
  <p>Use <code>form_for</code> inside a  <code>navbar</code> block for left-aligned and inline-block controls, optimized for a navbar. Setting the <code>:layout</code> option is not required.</p>
  {% highlight rhtml %}
<%= navbar do %>
  <%= vertical do %>
    <%= form_for User.new do |f| %>
    <%= f.email_field :email %>
      <%= f.submit 'Sign in' %>
    <% end %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-4818" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <form role="form" class="navbar-form" id="new_user" action="/users/new" accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="authenticity_token" value="2FT47">
              <div class="form-group">
                <label class="sr-only" for="user_email">Email</label>
                <input placeholder="Email" class="form-control" type="email" name="user[email]" id="user_email">
              </div>
              <input type="submit" name="commit" value="Sign in" class="btn btn-primary">
            </form>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-4818" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <form role="form" class="navbar-form" id="new_user" action="/users/new" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="authenticity_token" value="2FT47">
        <div class="form-group">
          <label class="sr-only" for="user_email">Email</label>
          <input placeholder="Email" class="form-control" type="email" name="user[email]" id="user_email">
        </div>
        <input type="submit" name="commit" value="Sign in" class="btn btn-primary">
      </form>
    </div>
  </div>
</nav>


  {% endhighlight %}

  <h3 id="form-labels">Labels</h3>
  <p>Field helpers inside <em>bootstrapped</em> forms are automatically displayed with their relative label.
    Use the <code>:label</code> option if you need to customize the generated label.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal do |f| %>
  <%= f.email_field :email, label: 'Your e-mail' %>
  <%= f.password_field :password %>
  <%= f.check_box :remember_me, label: 'Remember?' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_email_4">Your e-mail</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_email_4" name="user[email]" placeholder="Email" size="30" type="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_password_4">Password</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_password_4" name="user[password]" placeholder="Password" size="30" type="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <input name="user[remember_me]" type="hidden" value="0">
              <label>
                <input id="user_remember_me_4" name="user[remember_me]" type="checkbox" value="1"> Remember?</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_email">Your e-mail</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_password">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <input name="user[remember_me]" type="hidden" value="0">
        <label>
          <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> Remember?</label>
      </div>
    </div>
  </div>
</form>
  {% endhighlight %}

  <h3 id="form-placeholders">Placeholders</h3>
  <p>Field helpers inside <em>bootstrapped</em> forms are automatically displayed with their label as a placeholder.
    Use the <code>:placeholder</code> option if you need to customize the generated placeholder.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal do |f| %>
  <%= f.email_field :email, placeholder: '' %>
  <%= f.password_field :password, placeholder: 'At least 8 characters' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_email_5">Email</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_email_5" name="user[email]" placeholder="" size="30" type="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_password_5">Password</label>
          <div class="col-sm-9">
            <input class="form-control" id="user_password_5" name="user[password]" placeholder="At least 8 characters" size="30" type="password">
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_email">Email</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_email" name="user[email]" placeholder="" size="30" type="email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_password">Password</label>
    <div class="col-sm-9">
      <input class="form-control" id="user_password" name="user[password]" placeholder="At least 8 characters" size="30" type="password">
    </div>
  </div>
</form>
  {% endhighlight %}

  <h3 id="form-input-groups">Input groups</h3>
  <p>Field helpers inside <em>bootstrapped</em> forms accept the <code>:prefix</code> and <code>:suffix</code> options.
    Their values are displayed before/after the field as input groups.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal do |f| %>
  <%= f.email_field :email, prefix: '@' %>
  <%= f.telephone_field :phone, suffix: '☏' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_email_6">Email</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input class="form-control" id="user_email_6" name="user[email]" placeholder="Email" size="30" type="email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="user_phone_6">Phone</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input class="form-control" id="user_phone_6" name="user[phone]" placeholder="Phone" size="30" type="tel">
              <span class="input-group-addon">☏</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_email">Email</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" for="user_phone">Phone</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input class="form-control" id="user_phone" name="user[phone]" placeholder="Phone" size="30" type="tel">
        <span class="input-group-addon">☏</span>
      </div>
    </div>
  </div>
</form>
  {% endhighlight %}

  <h3 id="form-errors">Errors</h3>
  <p>Fields inside <em>bootstrapped</em> forms submitted with invalid values are automatically highlighted.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal, do |f| %>
  <%= f.email_field :email %>
  <%= f.submit 'Sign up' %>
<% end %>
  {% endhighlight %}
  <p>generates a form that shows error states, messages and icons when submitted with invalid values:
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group has-error has-feedback">
          <div class="field_with_errors">
            <label class="col-sm-3 control-label" for="user_email_7">Email</label>
          </div>
          <div class="col-sm-9">
            <div class="field_with_errors">
              <input class="form-control" id="user_email_7" name="user[email]" placeholder="Email" size="30" type="email" value="">
            </div>
            <span class="form-control-feedback glyphicon glyphicon-remove"></span>
            <span class="help-block text-left">can't be blank</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group has-error has-feedback">
    <div class="field_with_errors">
      <label class="col-sm-3 control-label" for="user_email">Email</label>
    </div>
    <div class="col-sm-9">
      <div class="field_with_errors">
        <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email" value="">
      </div>
      <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <span class="help-block text-left">can't be blank</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
    </div>
  </div>
</form>
  {% endhighlight %}

  <p>Use the <code>:errors</code> option to customize the feedback to show on invalid fields.</p>

  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal, errors: {icons: false, messages: false} do |f| %>
  <%= f.email_field :email %>
  <%= f.submit 'Sign up' %>
<% end %>
  {% endhighlight %}
  <p>generates a form that shows error states, messages and icons when submitted with invalid values:
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <div class="form-group has-error">
          <div class="field_with_errors">
            <label class="col-sm-3 control-label" for="user_email_8">Email</label>
          </div>
          <div class="col-sm-9">
            <div class="field_with_errors">
              <input class="form-control" id="user_email_8" name="user[email]" placeholder="Email" size="30" type="email" value="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
          </div>
        </div>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <div class="form-group has-error">
    <div class="field_with_errors">
      <label class="col-sm-3 control-label" for="user_email">Email</label>
    </div>
    <div class="col-sm-9">
      <div class="field_with_errors">
        <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email" value="">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input class="btn btn-primary" name="commit" type="submit" value="Sign up">
    </div>
  </div>
</form>
  {% endhighlight %}

  <p>Note that fields inside <code>fields_for</code> submitted with invalid values are <strong>not</strong> automatically highlighted. The <code>:errors</code> options should be specified explicity so that BH recognizes the <code>:errors</code> options.</p>
  {% highlight rhtml %}
<%= f.fields_for :company, fields_set: false, errors: {icons: true, messages: true} do |company_form| %>
  <%= company_form.text_field :name %>
<% end %>
  {% endhighlight %}
  <p>However, error messages in the association attribute should still be displayed manually.</p>
  {% highlight rhtml %}
<% if @user.company.errors.any? %>
  <ul class="errors">
    <% @user.company.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
  {% endhighlight %}

  <h3 id="form-help">Help text</h3>
  <p>Use the <code>:help</code> option to display a help message after fields inside <em>bootstrapped</em> forms.</p>
  <p>Note that error messages will have precedence over help messages.</p>
  {% highlight rhtml %}
<%= form_for User.new, url: '/', method: :get, layout: :basic do |f| %>
  <%= f.email_field :email, label: 'E-mail address', help: 'We will send a confirmation email' %>
  <%= f.password_field :password, placeholder: 'Your Password', help: 'Do not use "password"' %>
  <%= f.file_field :avatar, help: 'Suggested dimension: 50x50 px.' %>
  <%= f.check_box :confirm, checked: true, help: 'We will not share your data with anyone' %>
  <%= f.submit 'Sign in' %>
<% end %>
  {% endhighlight %}
  <p>generates a form that shows a help message after each field:
    <div class="bs-example">
      <form role="form" class="" id="new_user" enctype="multipart/form-data" action="/" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓">
        <div class="form-group">
          <label for="user_email">E-mail address</label>
          <input placeholder="Email" class="form-control" type="email" name="user[email]" id="user_email">
          <span class="help-block text-left">We will send a confirmation email</span>
        </div>
        <div class="form-group">
          <label for="user_password">Password</label>
          <input placeholder="Your Password" class="form-control" type="password" name="user[password]" id="user_password">
          <span class="help-block text-left">Do not use "password"</span>
        </div>
        <div class="form-group">
          <label for="user_avatar">Avatar</label>
          <input type="file" name="user[avatar]" id="user_avatar">
          <span class="help-block text-left">Suggested dimension: 50x50 px.</span>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input name="user[confirm]" type="hidden" value="0">
              <input offset="true" label="Confirm" type="checkbox" value="1" checked="checked" name="user[confirm]" id="user_confirm">
              Confirm
            </label>
          </div>
          <span class="help-block text-left">We will not share your data with anyone</span>
        </div>
        <input type="submit" name="commit" value="Sign in" class="btn btn-primary">
      </form>
    </div>
  {% highlight html %}
<form role="form" class="" id="new_user" enctype="multipart/form-data" action="/" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <div class="form-group">
    <label for="user_email">E-mail address</label>
    <input placeholder="Email" class="form-control" type="email" name="user[email]" id="user_email">
    <span class="help-block text-left">We will send a confirmation email</span>
  </div>
  <div class="form-group">
    <label for="user_password">Password</label>
    <input placeholder="Your Password" class="form-control" type="password" name="user[password]" id="user_password">
    <span class="help-block text-left">Do not use "password"</span>
  </div>
  <div class="form-group">
    <label for="user_avatar">Avatar</label>
    <input type="file" name="user[avatar]" id="user_avatar">
    <span class="help-block text-left">Suggested dimension: 50x50 px.</span>
  </div>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input name="user[confirm]" type="hidden" value="0">
        <input offset="true" label="Confirm" type="checkbox" value="1" checked="checked" name="user[confirm]" id="user_confirm">
        Confirm
      </label>
    </div>
    <span class="help-block text-left">We will not share your data with anyone</span>
  </div>
  <input type="submit" name="commit" value="Sign in" class="btn btn-primary">
</form>
  {% endhighlight %}


  <h3 id="form-fieldsets">Fieldsets</h3>
  <p>Use the <code>fieldset</code> helper to group sets of related fields in a panel with an optional title.</p>
  {% highlight rhtml %}
<%= form_for User.new, layout: :horizontal, do |f| %>
  <%= f.fieldset do %>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
  <% end %>
  <%= f.fieldset 'Optional data' do %>
    <%= f.phone_field :phone %>
    <%= f.url_field :website %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a form with two fieldsets, one of them with a title:
    <div class="bs-example">
      <form accept-charset="UTF-8" action="#" class="form-horizontal" method="post" role="form">
        <fieldset class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="user_email_9">Email</label>
              <div class="col-sm-9">
                <input class="form-control" id="user_email_9" name="user[email]" placeholder="Email" size="30" type="email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="user_password_9">Password</label>
              <div class="col-sm-9">
                <input class="form-control" id="user_password_9" name="user[password]" placeholder="Password" size="30" type="password">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="panel panel-default">
          <div class="panel-heading">Optional data</div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="user_phone">Phone</label>
              <div class="col-sm-9">
                <input class="form-control" id="user_phone" name="user[phone]" placeholder="Email" size="30" type="tel">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="user_website">Website</label>
              <div class="col-sm-9">
                <input class="form-control" id="user_website" name="user[website]" placeholder="Password" size="30" type="url">
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  {% highlight html %}
<form accept-charset="UTF-8" action="/users" class="form-horizontal" method="post" role="form">
  <fieldset class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="user_email">Email</label>
        <div class="col-sm-9">
          <input class="form-control" id="user_email" name="user[email]" placeholder="Email" size="30" type="email">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="user_password">Password</label>
        <div class="col-sm-9">
          <input class="form-control" id="user_password" name="user[password]" placeholder="Password" size="30" type="password">
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="panel panel-default">
    <div class="panel-heading">Optional data</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="user_phone">Phone</label>
        <div class="col-sm-9">
          <input class="form-control" id="user_phone" name="user[phone]" placeholder="Email" size="30" type="tel">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="user_website">Website</label>
        <div class="col-sm-9">
          <input class="form-control" id="user_website" name="user[website]" placeholder="Password" size="30" type="url">
        </div>
      </div>
    </div>
  </fieldset>
</form>
  {% endhighlight %}

  <!-- h3 id="form-checkboxes">Checkboxes</h3-->
  <!-- h3 id="form-legends">Legends</h3-->
  <!-- h3 id="form-static">Static controls</h3-->
  <!-- h3 id="form-nested">Nested attributes</h3-->
  <!-- h3 id="form-submits">Submit buttons</h3-->

</div>