<div class="bs-docs-section">
  <h1 id="glyphicons" class="page-header">Glyphicons</h1>
  <p class="lead">Use the <code>glyphicon</code> helper to display any of the 200 glyphicons available in Bootstrap.</p>

  <h3 id="basic-glyphicon">Basic example</h3>
  <p>Use <code>glyphicon</code> with the name of any of the <a href="http://getbootstrap.com/components/#glyphicons">200 glyphicons</a> available in Bootstrap to display the glyph.</p>
  {% highlight rhtml %}
<%= glyphicon :ok, title: 'Approved' %>
  {% endhighlight %}
  <p>displays the <em>ok</em> glyphicon with the alternate title "Approved" on hover:</p>
    <div class="bs-example">
      <span class="glyphicon glyphicon-ok" title="Approved"></span>
    </div>
  {% highlight html %}
<span class="glyphicon glyphicon-ok" title="Approved"></span>
  {% endhighlight %}
</div>