<div class="bs-docs-section">
  <h1 id="links" class="page-header">Links</h1>
  <p class="lead">Use the <code>link_to</code> helper to display Bootstrap-styled links.</p>

  <p>In Rails apps, ActionView provides the <code>link_to</code> helper which displays a link (<a href="http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to">see Rails doc</a>).</p>
  <p>In Padrino and Middleman apps, Padrino::Helpers provides the <code>link_to</code> helper with the same purpose (<a href="http://www.rubydoc.info/github/padrino/padrino-framework/Padrino/Helpers/AssetTagHelpers#link_to-instance_method">see Padrino doc</a>).</p>
  <p>Bh overrides these methods to add Bootstrap styles <strong>only</strong> if they are used inside <code>alert_box</code>, <code>dropdown</code>, <code>nav</code> or <code>navbar</code>:</p>
  <ul>
    <li>when used inside <code>alert_box</code>, adds <code>class="alert-link"</code> to the <code>&lt;a&gt;</code> tag.</li>
    <li>when used inside <code>dropdown</code>, adds <code>role="menuitem" tabindex="-1"</code> to the <code>&lt;a&gt;</code> tag
        and wraps the link in a <code>&lt;li role="presentation"&gt;</code> item.</li>
    <li>when used inside <code>nav</code>, wraps the link in a <code>&lt;li&gt;</code> item or in a
        <code>&lt;li class="active"&gt;</code> if the link is to the current page.</li>
    <li>when used inside the <code>vertical</code> section of <code>navbar</code>, adds <code>class="navbar-brand"</code> to the <code>&lt;a&gt;</code> tag.</li>
  </ul>

  <p>Look at the examples of each one of these helpers in this page to see what the generated HTML looks like.</p>

</div>