<div class="bs-docs-section">
  <h1 id="navbars" class="page-header">Navbars</h1>
  <p class="lead">Use the <code>navbar</code> helper to display Bootstrap-styled navbars.</p>

  <h3 id="navbar-basic">Basic navbars</h3>
  <p>Use <code>navbar</code> to display a navbar,
    wrapping inside <code>vertical</code> the links that should always be visible
    and inside <code>horizontal</code> the links that should be collapsed in mobile views.</p>
  {% highlight rhtml %}
<%= navbar do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
  <%= horizontal do %>
    <%= nav class: 'navbar-right' do %>
      <%= link_to 'Profile', root_path %>
      <%= link_to 'Settings', users_path %>
    <% end %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar with the following content (try resizing your browser!):</p>
    <div class="bs-example">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-9446109" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-9446109">
            <ul class="navbar-right nav navbar-nav">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-4752394" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-4752394">
      <ul class="navbar-right nav navbar-nav">
        <li><a href="/">Profile</a></li>
        <li><a href="/users">Settings</a></li>
      </ul>
    </div>
  </div>
</nav>
  {% endhighlight %}

  <h3 id="navbar-inverted">Inverted colors</h3>
  <p>Use the <code>:inverted</code> option to invert the palette of colors.</p>
  {% highlight rhtml %}
<%= navbar inverted: true do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar with a black background:</p>
    <div class="bs-example">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-4828209" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-4828209" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>
  {% endhighlight %}


  <h3 id="navbar-fluid">Fluid container</h3>
  <p>Use the <code>:fluid</code> option for a full width navbar, spanning the entire width of your viewport.</p>
  {% highlight rhtml %}
<%= navbar fluid: true do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar with a fluid container:</p>
    <div class="bs-example">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-8120845" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-8120845" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>
  {% endhighlight %}

  <h3 id="navbar-static">Static</h3>
  <p>Use the <code>position: :static</code> option to have the navbar scroll away with the page.</p>
  {% highlight rhtml %}
<%= navbar position: :static do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar that scrolls away with the page:</p>
    <div class="bs-example">
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-3676942" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-3676942" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>
  {% endhighlight %}

  <h3 id="navbar-top">Fixed to top</h3>
  <p>Use the <code>position: :top</code> option to fix the navbar at the top of the page,
    and the <code>:padding</code> option to specify the padding to leave between the top
    of the page and the body (defaults to 70px).</p>
  {% highlight rhtml %}
<%= navbar position: :top do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar fixed to the top with a padding of 70px (click the button to show/hide):</p>
    <div class="bs-example">
      <button class="btn btn-default bs-docs-navbar-top-toggle">Show the navbar</button>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-navbar="top">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-9566942" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<style>body {padding-top: 70px}</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-9566942" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>
  {% endhighlight %}

  <h3 id="navbar-bottom">Fixed to bottom</h3>
  <p>Use the <code>position: :bottom</code> option to fix the navbar at the bottom of the page,
    and the <code>:padding</code> option to specify the padding to leave between the body
    and the bottom of the page (defaults to 70px).</p>
  {% highlight rhtml %}
<%= navbar position: :bottom, padding: 100 do %>
  <%= vertical do %>
    <%= link_to 'Home', root_path %>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>generates a navbar fixed to the bottom with a padding of 100px (click the button to show/hide):</p>
    <div class="bs-example">
      <button class="btn btn-default bs-docs-navbar-bottom-toggle">Show the navbar</button>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" data-navbar="bottom">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#navbar-collapse-3226942" data-toggle="collapse" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Home</a>
          </div>
        </div>
      </nav>
    </div>
  {% highlight html %}
<style>body {padding-bottom: 100px}</style>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target="#navbar-collapse-3226942" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
  </div>
</nav>
  {% endhighlight %}



</div>