<div class="bs-docs-section">
  <h1 id="overview" class="page-header">Overview</h1>

  <p class="lead">
    Combine the beauty of Bootstrap’s design and the expressiveness of Ruby.<br />
    Get the best of both worlds with the least amount of keystrokes.</p>

  <p>Bootstrap is a great framework, but requires you to write <mark>many lines of HTML code</mark> even for simple components.<br />
  For instance, you need to write the following HTML to show a dismissible alert:</p>
    <div class="bs-html"></div>
    {% highlight html %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  You accepted the Terms of service.
</div>
  {% endhighlight %}

  <p>Writing this for every dismissible alert in a web site is cumbersome, repetitive, and prone to errors.<br />
  With Bh, you can achieve the same result with <mark>just one line of code</mark>:</p>
  {% highlight rhtml %}
<%= alert_box 'You accepted the Terms of service.', dismissible: true %>
  {% endhighlight %}

  <h3 id="overview-install">How to install</h3>

  <p>Bh is compatible with a variety of Ruby frameworks: <strong>Rails 3</strong>, <strong>Rails 4</strong>, <strong>Padrino</strong> and <strong>Middleman</strong>. To include Bh in your project:</p>

  <ol>
    <li>Open the <code>Gemfile</code> file of your Rails, Padrino or Middleman project and add the line <code>gem 'bh', '~> 1.2'</code>.</li>
    <li><em>only if you are using Middleman</em>: open <code>config.rb</code> and add <code>activate :bh</code>.</li>
    <li><em>only if you are using Padrino</em>: open <code>app.rb</code> and add <code>register Bh</code>.</li>
  </ol>

  <p>Bh does not overwrite any helper or style, so you can easily mix-and-match Bootstrap helpers with your existing HTML views.</p>
  <p>The list of available Boostrap helpers is detailed hereafter.</p>
</div>