<div class="bs-docs-section">
  <h1 id="panels" class="page-header">Panels</h1>
  <p class="lead">Use the <code>panel</code> helper to display Bootstrap-styled panels.</p>

  <h3 id="basic-panels">Basic panels</h3>
  <p>Use <code>panel</code> without options to display a basic panel.</p>
  {% highlight rhtml %}
<%= panel 'You accepted the Terms of service.' %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="panel panel-default">
        <div class="panel-body">You accepted the Terms of service.</div>
      </div>
    </div>
  {% highlight html %}
<div class="panel panel-default">
  <div class="panel-body">You accepted the Terms of service.</div>
</div>
  {% endhighlight %}

  <h3 id="panels-with-heading">Panels with heading</h3>
  <p>Use the <code>:heading</code> options to display a heading above the panel.</p>
  {% highlight rhtml %}
<%= panel 'You accepted the Terms of service.', heading: 'Congratulations' %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="panel panel-default">
        <div class="panel-heading">Congratulations</div>
        <div class="panel-body">You accepted the Terms of service.</div>
      </div>
    </div>
  {% highlight html %}
<div class="panel panel-default">
  <div class="panel-heading">Congratulations</div>
  <div class="panel-body">You accepted the Terms of service.</div>
</div>
  {% endhighlight %}

  <h3 id="panels-with-title">Panels with title</h3>
  <p>Use the <code>:title</code> options to display a title above the panel.</p>
  {% highlight rhtml %}
<%= panel 'You accepted the Terms of service.', title: 'Congratulations' %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Congratulations</h3>
        </div>
        <div class="panel-body">You accepted the Terms of service.</div>
      </div>
    </div>
  {% highlight html %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Congratulations</h3>
  </div>
  <div class="panel-body">You accepted the Terms of service.</div>
</div>
  {% endhighlight %}

  <h3 id="contextual-panels">Contextual panels</h3>
  <p>Set the <code>context</code> option to change the color (and semantic context) of the panel.</p>
  <p>Available contexts are <code>:default</code> (default), <code>:primary</code>, <code>:success</code>, <code>:info</code>, <code>:warning</code> and <code>:danger</code>.</p>
    {% highlight rhtml %}
<%= panel 'You accepted the Terms of service.', title: 'Thanks', context: :success %>
    {% endhighlight %}
    <p>displays a <em>success</em> panel message:</p>
      <div class="bs-example">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Thanks</h3>
          </div>
          <div class="panel-body">You accepted the Terms of service.</div>
        </div>
      </div>
    {% highlight html %}
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Thanks</h3>
  </div>
  <div class="panel-body">You accepted the Terms of service.</div>
</div>
    {% endhighlight %}


  <h3 id="tag-panels">Panels with custom tag</h3>
  <p>Set the <code>tag</code> option to use a different HTML tag to wrap the panel.</p>
  {% highlight rhtml %}
<%= panel 'You accepted the Terms of service.', tag: :aside %>
  {% endhighlight %}
    <p>displays a panel wrapped in an <code>&lt;aside&gt;</code> tag:</p>
    <div class="bs-example">
      <aside class="panel panel-default">
        <div class="panel-body">You accepted the Terms of service.</div>
      </aside>
    </div>
    {% highlight html %}
<aside class="panel panel-default">
  <div class="panel-body">You accepted the Terms of service.</div>
</aside>
    {% endhighlight %}

  <h3 id="advanced-panels">Complex panels</h3>
  <p>To include HTML tags or a long text in the panel, pass your content in a block.</p>
  <p>You can also specify custom options which will be added to the alert’s <code>&lt;div&gt;</code> tag.</p>
    {% highlight rhtml %}
<%= panel heading: 'Thanks', context: :info, id: 'panel', class: :en, data: {js: 1} do %>
  <div class='panel-body'>You accepted the Terms of service. <%= icon :ok %></div>
<% end %>
  {% endhighlight %}
  <p>displays an <em>info</em> (blue background) panel with a vector icon in the body:</p>
    <div class="bs-example">
      <div id="panel" class="en panel panel-info" data-js="1">
        <div class="panel-heading">Thanks</div>
        <div class="panel-body">
          You accepted the Terms of service.
          <span class="glyphicon glyphicon-ok"></span>
        </div>
      </div>
    </div>
  {% highlight html %}
<div id="panel" class="en panel panel-info" data-js="1">
  <div class="panel-heading">Thanks</div>
  <div class="panel-body">
    You accepted the Terms of service.
    <span class="glyphicon glyphicon-ok"></span>
  </div>
</div>
  {% endhighlight %}

</div>