<div class="bs-docs-section">
  <h1 id="panel_rows" class="page-header">Panel rows</h1>
  <p class="lead">Use the <code>panel_row</code> helper to display a row of horizontally-aligned Bootstrap-styled panels.</p>

  <h3 id="basic-row-of-panels">Basic row of panels</h3>
  <p>Use <code>panel_row</code> with the <code>:column_class</code> option to wrap panels of the same size in a row.</p>
  {% highlight rhtml %}
<%= panel_row column_class: 'col-sm-4' do %>
  <%= panel 'Panel #1' %>
  <%= panel 'Panel #2' %>
  <%= panel 'Panel #3' %>
<% end %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
    <div class="bs-example">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default"><div class="panel-body">Panel #1</div></div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default"><div class="panel-body">Panel #2</div></div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-default"><div class="panel-body">Panel #3</div></div>
        </div>
      </div>
    </div>
  {% highlight html %}
<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-body">Panel #1</div></div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-body">Panel #2</div></div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default"><div class="panel-body">Panel #3</div></div>
  </div>
</div>
{% endhighlight %}

  <h3 id="complex-row-of-panels">Complex row of panels</h3>
  <p>You can specify custom options which will be added to the panel row’s <code>&lt;div&gt;</code> tag.</p>
    {% highlight rhtml %}
<%= panel_row column_class: 'col-sm-6', id: 'panel-row', class: :en, data: {js: 1} do %>
  <%= panel 'John Smith', title: 'User', context: :info %>
  <%= panel title: 'Phone' do %>
    <div class='panel-body'><%= icon :earphone %> 323-555-5555</div>
  <% end %>
<% end %>
  {% endhighlight %}
  <p>displays a row of two panels with title and HTML body:</p>
  <div class="bs-example">
    <div id="panel-row" class="en row" data-js="1">
      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="panel-title">User</h3></div>
          <div class="panel-body">John Smith</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Phone</h3></div>
          <div class="panel-body">
            <span class="glyphicon glyphicon-earphone"></span> 323-555-5555
          </div>
        </div>
      </div>
    </div>
  </div>
  {% highlight html %}
<div id="panel-row" class="en row" data-js="1">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading"><h3 class="panel-title">User</h3></div>
      <div class="panel-body">John Smith</div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Phone</h3></div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-earphone"></span> 323-555-5555
      </div>
    </div>
  </div>
</div>
  {% endhighlight %}

</div>