<div class="bs-docs-section">
  <h1 id="progress_bars" class="page-header">Progress bars</h1>
  <p class="lead">Use the <code>progress_bar</code> helper to display Bootstrap-styled progress bars.</p>

  <h3 id="progress_bar-basic">Basic progress bar</h3>
  <p>Use <code>progress_bar</code> with the <code>:percentage</code> option to show a progress bar.</p>
  {% highlight rhtml %}
<%= progress_bar percentage: 30 %>
  {% endhighlight %}
  <p>generates the following HTML:</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
        <span class="sr-only">30%</span>
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
    <span class="sr-only">30%</span>
  </div>
</div>
  {% endhighlight %}

  <h3 id="progress_bar-label">Progress bar with label</h3>
  <p>Use <code>progress_bar</code> with the <code>:label</code> option to show a label on the progress bar.</p>
  <p>Set <code>:label</code> to a string to use a custom label, or to <code>true</code> to use the value as the label.</p>
  {% highlight rhtml %}
<%= progress_bar percentage: 30, label: true %>
<%= progress_bar percentage: 30, label: "thirty percent" %>
  {% endhighlight %}
  <p>generates the following components (and HTML code):</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
        30%
      </div>
    </div>
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
        thirty percent
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
    30%
  </div>
</div>
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar" role="progressbar" style="width: 30%">
    thirty percent
  </div>
</div>
  {% endhighlight %}

  <h3 id="progress_bar-context">Contextual progress bars</h3>
  <p>Use <code>progress_bar</code> with the <code>:context</code> option to change the color (and semantic context) of the progress bar.</p>
  <p>Available contexts are <code>:success</code>, <code>:info</code>, <code>:warning</code> and <code>:danger</code>.</p>
  {% highlight rhtml %}
<%= progress_bar percentage: 30, context: :warning %>
  {% endhighlight %}
  <p>generates the following components (and HTML code):</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%">
        <span class="sr-only">30% (warning)</span>
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-warning" role="progressbar" style="width: 30%">
    <span class="sr-only">30% (warning)</span>
  </div>
</div>
  {% endhighlight %}

  <h3 id="progress_bar-striped">Striped progress bars</h3>
  <p>Use <code>progress_bar</code> with the <code>striped: true</code> option to display a striped progress bar.</p>
  {% highlight rhtml %}
<%= progress_bar percentage: 30, striped: true %>
  {% endhighlight %}
  <p>generates the following components (and HTML code):</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%">
        <span class="sr-only">
          30%
        </span>
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%">
    <span class="sr-only">
      30%
    </span>
  </div>
</div>
  {% endhighlight %}

  <h3 id="progress_bar-animated">Animated progress bars</h3>
  <p>Use <code>progress_bar</code> with the <code>animated: true</code> option to display a striped animated progress bar.</p>
  {% highlight rhtml %}
<%= progress_bar percentage: 30, animated: true %>
  {% endhighlight %}
  <p>generates the following components (and HTML code):</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 30%">
        <span class="sr-only">
          30%
        </span>
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-striped active" role="progressbar" style="width: 30%">
    <span class="sr-only">
      30%
    </span>
  </div>
</div>
  {% endhighlight %}

  <h3 id="progress_bar-stacked">Stacked progress bars</h3>
  <p>Use <code>progress_bar</code> with an array of options (rather than a single Hash) to display a set of stacked progress bars.</p>
  {% highlight rhtml %}
<%= progress_bar [{percentage: 30, context: :success, label: 'Completed'}, {percentage: 40, context: :warning, animated: true, label: 'Pending'}] %>
  {% endhighlight %}
  <p>generates the following components (and HTML code):</p>
  <div class="bs-example">
    <div class="progress">
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-success" role="progressbar" style="width: 30%">
        Completed
      </div>
      <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 40%">
        Pending
      </div>
    </div>
  </div>
  {% highlight html %}
<div class="progress">
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="30" class="progress-bar progress-bar-success" role="progressbar" style="width: 30%">
    Completed
  </div>
  <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 40%">
    Pending
  </div>
</div>
  {% endhighlight %}

</div>