<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag font_awesome_css, bootstrap_css, bootstrap_theme_css %>
    <title>Bh test page</title>
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
    <%= javascript_include_tag bootstrap_js %>
  </body>
</html>